body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#container{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 100px;
}
.tartalom{
    text-align: center;
}
.tartalom h3{  
    line-height: 68px;
    text-align: left;
    font-weight: bold;
    font-family: Comic Sans MS;
    margin: 0;
    font-size: 4em;
    border-bottom: 3px red solid;
}
.tartalom p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 1.1em;
}